

{% extends 'base_admin.html' %}

{% block content %}

<br>
<div class="container bg-dark text-primary text-center h-7 display-1 fw-bold">
    UPDATE USER
</div>
<br>
<br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="justify-content-center input-group mb-3">
            <span class=" input-group-text">REGISTRATION NO</span>
            <input type="text" name="regnodata" id="">
            <input type="submit" value="Check" class="btn btn-info">
        </div>
    </form>
</div>

<br><br><br>

{% endblock %}

