
{% extends 'base_admin.html' %}

{% block content %}
<div class="container bg-dark text-primary text-center h-7 display-1 fw-bold">
    VIEW DATA
</div>

<br>

<div align="center" class="container m-auto text-center">
    <div class="row">
        <a class="col-md-4 m-3 btn btn-info" href="/viewalldata/">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;VIEW ALL DATA &ensp;&ensp;&ensp;&ensp;</a>
        <a class="col-md-4 m-3 btn btn-info" href="/earchbatchtime/">VIEW BY BATCH TIME</a>
        <a class="col-md-4 m-3 btn btn-info" href="/searchregistration/">VIEW BY REGISTRATION NO </a>
        <a class="col-md-4 m-3 btn btn-info" href="/searchbyname/">&ensp;&ensp;VIEW BY NAME &ensp; &ensp; </a>
        <a class="col-md-4 m-3 btn btn-info" href="/PendingFEE/">&ensp;&ensp;VIEW BY PENDING FEE &ensp; &ensp; </a>
    </div>
        
        
        
        


    <br><br><br><br><br><br>



<!-- {% include "footer.html"%} -->
{% endblock %}



